<a class="widget-links-item" data-tid="invite">
    {{ trans "invitation.info.invite_coworkers" }}
</a>
<a class="widget-links-item" href="mailto:{{ highfive_support_mail }}">
    {{ trans "layout.actions.contact_support" }}
</a>
