<p class="widget-points-content">
    {{ transChoice "recognition.points.balance" points points=points }}
</p>
<div class="widget-points-actions">
    <button type="button" data-tid="recognize" class="btn btn-large widget-points-button">{{ trans "recognition.action.recognize_someone" }}</button>
</div>
